body {
    background-color: silver;
}
header {
    background-color: grey;
    color: white;
}

.highlightGreen{
    background-color:green;
}
.myOwnClass{
    font-size: 2em
}
.highlightBlue{
    background-color:blue;
}
.leftAbout{
    width:50%;
    float:left;

}
.rightAbout{
    width:50%;
    float:right;
}
#myUniqueId{
    color:yellow;
}

section {
    float: left;
    border-width: thin;
    border-style: solid;
    border-color: white;
    color: green;
    width: 75%;
    
}
article {
    border-width: thin;
    border-style: solid;
    border-color: yellow;
    color: black;
    padding-left: 100px;
    margin-left:100px;
}
img {
    width: 200px;
    height: auto;
}
aside {
    float: right;
    background-color: white;
    border: thin solid black;
    width: 24%;
}
footer {
    clear: both;
    height: 50px;
    background-color: green;
    color: white;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}